@define-color cc-bg #32302f;
@define-color noti-border-color #32302f;
@define-color noti-bg #3c3836;
@define-color noti-bg-darker #3c3836;
@define-color noti-bg-hover rgb(27, 27, 43);
@define-color noti-bg-focus rgba(27, 27, 27, 0.6);
@define-color text-color #f9f5d7;
@define-color text-color-disabled #bdae93;
@define-color bg-selected #fabd2f;

* {
  font-family: 'JetBrains Mono';
}

.control-center {
  background: rgba(39, 39, 39, 0.3);
  border: 1px solid #85796f;
  border-radius: 16px;
  padding: 14px;
}

.control-center-list {
  background: transparent
}

.control-center-list-placeholder {
  opacity: .5
}

.notification-row {
  outline: none;
  padding: 0;
}

.notification {
  background: transparent;
  margin: 0px;
  font-weight: bold;
  box-shadow: none;
  
}

.notification-content {
  background: @cc-bg;
  padding: 7px;
  border: none;
  margin: 0;
}

.close-button {
  background: #d79921;
  color: @cc-bg;
  text-shadow: none;
  padding: 0;
  border-radius: 24px;
  margin-top: 5px;
  margin-right: 5px;
}

.close-button:hover {
  box-shadow: none;
  background: #fabd2f;
  transition: all .15s ease-in-out;
  border: none
}

.notification-action {
  color: #ebdbb2;
  border: 2px solid #85796f;
  border-top: none;
  border-radius: 0px;
  background: #32302F;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #ebdbb2;
  background: #32302F;
}

.summary {
  margin-left: 5px;
  font-size: 13px;
  color: #ebdbb2;
}

.time {
  font-size: 11px;
  color: #d79921;
  margin-right: 20px
}

.body {
  font-size: 12px;
  color: #ebdbb2;
  margin-left: 5px;
}

.floating-notifications {
  background: transparent
}

.widget-title {
  color: #f9f5d7;
  background: transparent;
  padding: 5px 10px;
  font-size: 1rem;
}

.widget-title>button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  box-shadow: none;
  border: none;
  background: @noti-bg;
  border-radius: 5px;
}

.widget-title>button:hover {
  background: #a37800;
  color: @cc-bg;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  font-size: large;
  color: #f2e5bc;
}

.widget-dnd>switch {
  border-radius: 4px;
  background: #665c54;
}

.widget-dnd>switch:checked {
  background: #d79921;
  border: 1px solid #d79921;
}

.widget-dnd>switch slider {
  background: @cc-bg;
  border-radius: 5px
}

.widget-dnd>switch:checked slider {
  background: @cc-bg;
  border-radius: 5px
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label>label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: transparent;
  margin: 6px 0px;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

/* tombol next kalo ada 2 mpris */
.widget-mpris > box > button {
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
}

.widget-mpris-player {
  border-radius: 12px;
  padding: 12px 18px;
  margin: 0px 18px;
  box-shadow: none;
}
/* 
.widget-mpris-player button {
  color: @text-color;
  box-shadow: none;
} */

/* 
.widget-mpris-player button:active {
  background-color: #d79921;
} */

.widget-mpris-title {
  font-weight: 600;
  font-size: 1rem
}

.widget-mpris-subtitle {
  font-size: 0.8rem
}

.widget-buttons-grid {
  padding: 14px;
  margin: 16px;
  border-radius: 8px;
  background: @noti-bg-darker;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  font-size: 14px;
  box-shadow: none;
  border: none;
  margin: 4px 0px;
  background: transparent;
  color: @text-color

}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  
  text-shadow: none;
  color: #a37800;
}

.widget-menubar>box>.menu-button-bar>button {
  border: none;
  background: transparent
}

.topbar-buttons>button {
  border: none;
  background: transparent
}
